h2 Hi #{firstName}, 
p You are receiving this email because you or someone else requested a password change if you didn't please ignore. It will expire in one day.,
a(href=`http://localhost:8080//auth/change-password/${token}`) Reset.